// Buttons
// 
// Markup:
// <button class="btn {{modifier_class}}">BUTTON ELEMENT</button>
//
// .btn-green - Botão Verde
// .btn-large - Botão Large
// .btn-medium - Botão Médio
// 
//  
// Styleguide Buttons

.btn {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: #4285f4;
    border: 2px solid transparent;
    border-radius: 6px;
    padding: 6px 6px;
    display: inline-block;
    min-width: 80px;
    cursor: pointer;
    background-color: #FFF;
    border-color: #d7d7d7;

    // STATES
    &:disabled {
        cursor: not-allowed;
        opacity: 0.6;
    }

    &:hover {
        opacity: 0.8;
    }

    // COLORS
    &-green {
        color: #fff;
        background-color: #42AE5D;
        border-color: #42AE5D;
    }


    // TYPES
    &-block {
        display: block;
    }

    // SIZES
    &-medium {
        font-size: 16px;
        padding: 8px 10px;
    }

    &-large {
        font-size: 20px;
        padding: 8px 12px;
    }
}