// Dropdowns
// 
// Markup:
//<div class="dropdown">
//  <button onclick="openDropdown()" class="btn btn-dropdown">
//     Dropdown
//     <i class="fas fa-caret-down"></i>
//    </button>
//  <div id="dropdown-items" class="dropdown-content">
//    <a href="#">Link 1</a>
//    <a href="#">Link 2</a>
//    <a href="#">Link 3</a>
//  </div>
//</div>
// 
// Styleguide Dropdowns

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.showDropdown {display:block;}

// Dropups
// 
// Markup:
//<div class="dropup">
//  <button onclick="openDropup()" class="btn btn-dropup">
//     Dropup
//     <i class="fas fa-caret-up"></i>
//    </button>
//  <div id="dropup-items" class="dropup-content">
//    <a href="#">Link 1</a>
//    <a href="#">Link 2</a>
//    <a href="#">Link 3</a>
//  </div>
//</div>
// 
// Styleguide Dropdowns.Dropups

/* Dropdown Content (Hidden by Default) */
.dropup {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropup-content {
    display: none;
    position: absolute;
    bottom: 34px;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px -4px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropup-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropup-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.showDropup {display:block;}