<header class="top-header">
    <img class="top-header-logo" src="https://avatars0.githubusercontent.com/u/31484249?s=460&v=4"alt="Mult-e Logo">
    <span class="top-header-logo-name">
        Styleguide Mult-e
    </span>
</header>