    <header class="kss-header">
        <section class="kss-header__inner">
            <a class="kss-header__hamburger-trigger">
                <div class="kss-header__hamburger"></div>
            </a>
        </section>
    </header>