 @@include('head.hbs')

<body class="kss-body">
        @@include('header.hbs')
        @@include('navigation.hbs')
        @@include('documentation.hbs')
        @@include('scripts.hbs')
</body>
</html>